# Core Python packages
xarray
netCDF4
dask
numpy
pandas
matplotlib
cartopy
tqdm
jupyterlab
xesmf
einops
xbatcher

# PyTorch stack
torch
torchvision
torchaudio

# Explainability libraries
quantus
captum
